# ===== Data =====
/data/**
!/data/
!/data/vizwiz/
!/data/vizwiz/processed_train.json
!/data/vizwiz/processed_val.json

# ===== Outputs (ignore all) =====
/outputs/**

# ===== Do not upload coco-caption =====
/coco-caption/**

# ===== Python & system =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.ipynb_checkpoints/
.env
.venv/
venv/
*.log
*.tmp
.DS_Store
